In [68]:
# Import the Data preprocessing Libraries

import pandas as pd
import numpy as np

In [69]:
# Import mysql connector and stablish connection to axisbank database


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
    database="axisbank"
)

mycursor = mydb.cursor()

In [70]:
# print the tables

mycursor.execute("show tables")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('customers_acc_state',)
('customers_details',)

In [71]:
# Execute SELECT * FROM customers_details query

mycursor.execute("SELECT * FROM customers_details")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(58, 'management', 'married', 'tertiary', 'apr', 261, '409000611074')
(44, 'technician', 'single', 'secondary', 'feb', 151, '409000493201')
(33, 'entrepreneur', 'married', 'secondary', 'mar', 76, '409000425051')
(47, 'blue-collar', 'married', 'unknown', 'apr', 92, '409000405747')
(33, 'unknown', 'single', 'unknown', 'dec', 198, '409000438611')
(35, 'management', 'married', 'tertiary', 'nov', 139, '409000493210')
(28, 'management', 'single', 'tertiary', 'jun', 217, '409000438620')
(42, 'entrepreneur', 'divorced', 'tertiary', 'jul', 380, '1196711')
(58, 'retired', 'married', 'primary', 'aug', 50, '1196428')
(43, 'technician', 'single', 'secondary', 'dec', 55, '409000362497')

In [72]:
# Select the customers who were addeded in the month of april

mycursor.execute("""SELECT Account_No FROM customers_details WHERE month = "apr" """)

res = mycursor.fetchall()
for x in res:
    print(x)

('409000611074',)
('409000405747',)

In [73]:
# Maximum balance of Account Number '409000405747' in the month of April

mycursor.execute("SELECT BALANCE_AMT FROM customers_acc_state WHERE Account_No=409000405747 AND date LIKE '%Apr%';")
myresult=mycursor.fetchall()

max_bal = 0

for x in myresult:
    curr_bal = float(x[0].strip().replace(",","")[1:])
    if curr_bal > max_bal:
        max_bal = curr_bal
        
print("Maximum balance of Account Number '409000405747' in the month of April: ",max_bal)

Maximum balance of Account Number '409000405747' in the month of April:  558752028.14

In [74]:
# # Maximum balance of Account Number '409000611074' in the month of April

mycursor.execute("SELECT BALANCE_AMT FROM customers_acc_state WHERE Account_No=409000611074 AND date LIKE '%Apr%';")
myresult=mycursor.fetchall()

max_bal = 0

for x in myresult:
    curr_bal = float(x[0].strip().replace(",","")[1:])
    if curr_bal > max_bal:
        max_bal = curr_bal
        
print("Maximum balance of Account Number '409000611074' in the month of April: ",max_bal)

Maximum balance of Account Number '409000611074' in the month of April:  825809.0

In [75]:
# So it's clear from the above queries that customer having account number '409000405747' is having max balance.

In [76]:
mydb.close()