In [1]:
# Importing data preprocessing lib
import pandas as pd

In [2]:
# Import mysql connector and stablish connection

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fcd0ca14470>

In [3]:
# Print the databases

mycursor = mydb.cursor()

mycursor.execute("show databases")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('information_schema',)
('metastore',)
('metastore_db',)
('mysql',)
('performance_schema',)
('sumit',)
('sys',)

In [4]:
# Create new database

mycursor.execute("CREATE DATABASE axisbank")

In [5]:
# Use new database

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
    database="axisbank"
)

mycursor = mydb.cursor()

In [6]:
# Create new table customers_details

mycursor.execute("""CREATE TABLE customers_details (age int,job VARCHAR(255),
                 marital VARCHAR(255),education VARCHAR(255),month VARCHAR(255),
                 duration int,Account_No VARCHAR(255))""")

In [7]:
# Create new table customers_acc_state

mycursor.execute("""CREATE TABLE customers_acc_state (Account_No VARCHAR(255),
                 DATE VARCHAR(255),TRANSACTION_DETAILS VARCHAR(255),
                 CHQ_NO VARCHAR(255),VALUE_DATE VARCHAR(255),WITHDRAWAL_AMT VARCHAR(255),
                 DEPOSIT_AMT VARCHAR(255),BALANCE_AMT VARCHAR(255))""")

In [8]:
# Read the dataset from csv file and upload to the axisbank customers_details table

csv_data = pd.read_csv('CustomersData/customers_details.csv')
csv_data.drop(columns=csv_data.columns[0], axis=1, inplace=True)

for index, row in csv_data.iterrows():
    sql = "INSERT INTO customers_details VALUES(%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [9]:
# Read the dataset from csv file and upload to the axisbank customers_acc_state table

csv_data = pd.read_csv('CustomersData/newaccountstatements.csv')
csv_data.drop(columns=csv_data.columns[0], axis=1, inplace=True)

for index, row in csv_data.iterrows():
    sql = "INSERT INTO customers_acc_state VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [10]:
# Close the connection

mydb.close()